.menuPara {
    font-size: 18px;
}

.menuItems {
    width: 180px;
    transform: rotate(-90deg);
    box-shadow: -2px -2px 10px rgb(71, 71, 71);
}

.menuItems:hover {
    cursor: pointer;
    scale: 1.1;
}