@font-face {
    font-family: Roboto;
    src: url(../Roboto-Black.ttf) format('ttf');
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(../imgs/starsBg.jpg);
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#spinning {
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    pointer-events: none;
}

#spinning::after {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../imgs/earth1.png);
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    background-size: contain;
    animation: spin 240s linear infinite;
    z-index: -1;
}
@keyframes spin {
    100% { transform: rotate(360deg); }
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}

#container {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 500px;
    height: 650px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    align-self: center;
    justify-self: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}
#locationName {
    height: 40px;
    text-align: center;
}

#currentIcon {
    width: 125px;
}

#current {
    font-size: 50px;
}

#forecast {
    display: flex;
    justify-content: space-evenly;
}

.weatherCell {
    width: 150px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

#today {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    flex: 2;
}

.dates {
    font-size: 30px;
}

#userInput {
    background-color: rgba(66, 63, 63, 0.6);
    border: none;
    border-radius: 5px;
    height: 25px;
    color: rgb(204, 204, 204);
}

#userInput:focus {
    outline: none;
}

img:hover {
    transform: rotate(360deg);
    transition: transform 1s ease;
}

@media (max-width: 768px) {
    body {
        background: black;
    }
    #content {
        width: 350px;
        height: fit-content;
    }

    #userInput{
        margin-left: 25px;
        align-self: flex-start;
        margin-top: 1.6rem;
    }
    .dates {
        font-size: 22px;
    }
    #spinning::after {
        background-size: 150%;
    }
}

@media (max-height: 390px) {
     body {
        justify-content: unset;
    } 
    #spinning {
        overflow: visible;
        top: 50%;
        border: none;
        height: 150%;
    }
    #spinning::after {
        background-size: contain;
    }
}

@media (max-width: 380px) {

    body {
        font-size: 75%;
    }
}